*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://media.giphy.com/media/orTEFD4GoRufhL7ex0/giphy.gif?cid=ecf05e47l6b9hforoj1njjyrg32fv5d35k1s1be9khfer6db&ep=v1_gifs_search&rid=giphy.gif&ct=g');
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 450px;
    background-color: transparent;
    backdrop-filter: blur(36px);
    border: 2px solid rgba(217, 217, 217, 0.368);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: rgb(0, 0, 0);
    padding: 30px 40px;
}

.wrapper h2{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 40px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgb(0, 0, 0);
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}

.wrapper button{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    border-radius: 40px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}